@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(imagens/fundo_madeira.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
nav {
    background-color: rgba(0, 0, 0, 0.329);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    height: 55px;
}

.container {
    display: flex;
    flex: 1;
    gap: 36px;
    justify-content: center;
}

img.icones {
    background-color: aliceblue;
    border-radius: 50%;
    border: 1px solid black;
    width: 50px;
    height: 50px;

    box-shadow: 2px 4px 6px 0px black;
}

img.icones:hover {
    width: 55px;
    height: 55px;

}
thead {
    position: relative;
    height: 100vh;
}
section {
    background-color: aqua ;
}
#telefone {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    width: 190px;
    height: 370px;

    background: url(imagens/iphone.jpg) no-repeat;
    background-size: contain;
}
iframe#tela {
    position: relative;
    top: 39px;
    left: 13px;

    width: 158px;
    height: 290px;
}