@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Android';
    src: url(Arquivos/IDroid.otf);
}

body {
    background-color: #B5E6BF;
    margin: 0;
    padding: 0;

    font-family: 'Montserrat','Arial','sans-serif';
}

header {
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #598061;

    border: 1px solid #598061;
    border-radius: 6px;
    box-shadow: 4px 3px 7px 0px #3a533f;
}

header h1 {
    padding: 4px;
    display: inline;

    font: normal bold 2em 'Android';

    text-align: center;
    text-decoration: none;

    background-color: white;
    border-radius: 6px;
}

header > h1 > strong {
    color: #3a533f;
    text-shadow: 2px 2px 0px #253528;
}

header > p {
    background-color: white;
    padding: 5px 5px 50px 5px
}

.container {
    display: flex;
    gap: 15px;
    flex: 1;
    align-items: stretch;
}

.main {
    background-color: #598061;
    margin: 10px;
    flex: 1;

    border: 1px solid #598061;
    border-radius: 6px;
    box-shadow: 4px 3px 7px 0px #3a533f;
}

.main > h2 {
    background-color: white;
    border: 1px solid #598061;
    border-radius: 6px;
    box-shadow: 4px 3px 7px 0px #3a533f;

    text-align: center;
    font: normal bold 2em 'Montserrat';

    padding: 4px;
    margin: 0px;
}

.main > h2 > strong {
    font: normal bold 4em;
    color: #253528;
    
}

.main p {
    background-color: white;
    text-align: justify;

    flex: 1;
    
    margin: 15px 7px 7px 7px;
    padding: 5px 5px 50px 5px;
    border: 1px solid #598061;
}

aside {

    margin: 10px;
    padding: 3px;

    box-shadow: 4px 3px 7px 0px #3a533f;
    border-radius: 6px;
    background-color: #598061;

    text-align: center;
}

aside > h2 {
    display: inline-block;

    font-weight: bold;

    padding: 4px;
    margin: 5px;

    background-color: white;
    border-radius: 6px;
    box-shadow: 4px 3px 7px 0px #3a533f;
}

aside > p {
    padding-bottom: 50px;
}

.paragrafos{
    background-color: white;
    text-align: justify;

    margin: 3px;
    border-radius: 6px;

    box-shadow: 4px 3px 7px 0px #3a533f;
}

aside > ul {
    background-color: white;
    display: inline-block;

    padding: 30px;
    margin: 3px;

    border-radius: 6px;

    box-shadow: 4px 3px 7px 0px #3a533f;
}

aside > ul > li{
    text-align: justify;
}

#conclusao {
    margin: 10px;
    padding: 5px;

    text-align: center;
    text-decoration: none;

    background-color: #598061;
    color: black;

    border-radius: 6px;
    box-shadow: 4px 3px 7px 0px #3a533f;
}

#conclusao h2 {
    display: inline-block;
    margin: 5px;
    padding: 10px;

    background-color: white;
    font-weight: bold;

    border-radius: 6px;
    box-shadow: 4px 3px 7px 0px #3a533f;
}

#conclusao p {
    margin: 5px;
    padding: 10px;

    background-color: white;
    text-align: justify;

    border-radius: 6px;
    box-shadow: 4px 3px 7px 0px #3a533f;
}

footer {
    background-color: black;
    color: white;
    text-align: justify;

}

nav {
    background-color: rgb(49, 49, 49);
    text-align: center;
}

nav a {
    background-color: rgb(107, 107, 107);
    color: white;
    text-decoration: none;
    margin: 3px 10px 3px 3px;

    border-radius: 6px;
}

nav a:hover {
    font-size: 1.2em;

}

#img_horizontal {
    padding: 10px;
    margin: 10px;
    text-align: center;

    border-radius: 6px;
}
img {
    border-radius: 6px;
}