@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
body, html {
    background-color: greenyellow;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;;
}

main > section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,  -50%);
    background-color: white;
    border-radius: 10px;
    height: 450px;
    width: 250px;
    padding: 10px;
}

#img_div {
    margin: 0px;
    height: 200px;
    width: 250px;
    overflow: hidden;
    padding: 0px;
}

#login_div {
    border: 1px solid black;
    height: 250px
}

#login_div > h1 {
    text-align: center;
    text-transform: uppercase;
;
}
#login_div > p {
    text-align: center;
    padding: 10px;
}
#login_div > form {
    background-color: red;
}
