@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: black;
    background: url(../Arquivos/imagens/back-phone.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}

main {
    background-color: rgba(255, 255, 255, 0.692);
    width: 90vw;
    margin: auto;
    border-radius: 9px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
}
img {
    display: block;
    margin: auto;
}

img#note {display: none;}
img#celular {display: block;}
img#impressora {display: none;}
img#tablet {display: none;}
img#tv {display: none;}