@charset "UTF-8";

body {
    background-color: rgb(213, 231, 185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font: normal normal 2em 'Work Sans', sans-serif;
    text-align: center;
    color: rgb(252, 252, 252);
    background-color: rgb(20, 61, 20);
}

h1#principal {
    color: black;
    text-align: center;
    font: normal normal 4em 'Work Sans', sans-serif;
    background-color: whitesmoke;

}

.basico {
    color: rgb(0, 255, 0);
    font-weight: bold;
}

.intermediario {
    color: rgb(238, 255, 0);
    font-weight: bold;
}

.avancado {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.destaque {
    background-color: black;
    color: goldenrod;
}